.loader {
    width: fit-content;
    font-weight: bold;
    font-family: monospace;
    white-space: pre;
    font-size: 30px;
    line-height: 1.2em;
    height:1.2em;
    overflow: hidden;
  }
  .loader:before {
    content:"Loading...\A文oading...\A文ading...\A文Фding...\A文Ф⎅قing...\A文Ф⎅ق⟟ng...\A文Ф⎅ق⟟さg...\A文Ф⎅ق⟟さ☌...\A文Ф⎅ق⟟さ☌⟒..\A文Ф⎅ق⟟さ☌⟒⏁.\A文Ф⎅ق⟟さ☌⟒⏁⋔"; 
    white-space: pre;
    display: inline-block;
    animation: l39 1s infinite steps(11) alternate;
  }
  
  @keyframes l39 {
    100%{transform: translateY(-100%)}
  }